__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/
.env
.venv/
venv/
env/
ENV/
*.log
.DS_Store
.pytest_cache/
.mypy_cache/
.ruff_cache/
tests/
conftest.py
pyproject.toml
*.sqlite
*.pyd
*.dll
*.so
node_modules/
